.containerInput{
    display: flex;
    position: relative;
    margin-top: -27px;
    gap: 8px;
}

.inputDefault {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    transition: .2s linear;
}

.inputDefault:focus {
    outline: none;
    border: 1px solid var(--purple-dark);
}

.btnCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    cursor: pointer;
    transition: .2s linear;

    font-family: 'inter';
    font-weight: 700;
}

.btnCreate:hover {
    background-color: var(--blue);
}