.btnCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    cursor: pointer;
    transition: .2s linear;

    font-family: 'inter';
    font-weight: 700;
}

.btnCreate:hover {
    background-color: var(--blue);
}